@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: Outfit, sans-serif;
}

select, input, textarea{
    border: 1px solid #c2c2c2;
    outline-color: #6a5acd;
    border-radius: 4px;
}

.active{
    background-color: #f5f3ff;
    border-color: #6a5acd;
    color: #6a5acd;
}

.font-michroma {
    font-family: Michroma, Outfit, sans-serif;
}